body, html {
    height: 100%;
    margin: 0;
}
.bg {
    background-image: url('pictures/login-background-new.jpg'); /* Update with the correct path */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.button {
    background-color: #007BFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.button:hover {
    background-color: #0056b3;
}
.flashes {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.flash-message {
    color: #dc3545; /* Bootstrap danger color for consistency */
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

/* Styling for text fields */
input[type="text"], input[type="password"] {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Make sure padding doesn't increase the size */
    font-size: 16px; /* Larger font size */
}

/* Welcome message styling */
.welcome-message {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
