<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Password</title>
    <script>
        async function fetchSecurePassword() {
            const response = await fetch('/generate_password');
            const data = await response.json();
            document.getElementById('password').value = data.password;
        }
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_password.css') }}">
</head>
<body>
    <h1>Add New Password</h1>
    <form action="" method="post">
        <label for="site_name">Site Name:</label>
        <input type="text" id="site_name" name="site_name" required><br>

        <label for="site_url">Site URL:</label>
        <input type="text" id="site_url" name="site_url"><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="button" onclick="fetchSecurePassword()">Generate Password</button><br>

        <button type="submit">Add Password</button>

        <button type="button" onclick="location.href='{{ url_for('view_group', group_id=group_id) }}'">Back to Group</button>
    </form>
</body>
</html>

