<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_password.css') }}">
    <script>
        async function fetchSecurePassword() {
            const response = await fetch('/generate_password');
            const data = await response.json();
            document.getElementById('password').value = data.password;
        }
    </script>
    <script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById('password');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    }
    async function fetchSecurePassword() {
        const response = await fetch('/generate_password');
        const data = await response.json();
        document.getElementById('password').value = data.password;
        document.getElementById('password').type = 'password'; // Ensure it re-masks if it was visible
    }
    </script>
</head>
<body>
    <h1>Edit Password</h1>
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>

        <label for="site_name">Site Name:</label>
        <input type="text" id="site_name" name="site_name" required value="{{ password.site_name }}"><br>

        <label for="site_url">Site URL:</label>
        <input type="text" id="site_url" name="site_url" value="{{ password.site_url }}"><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required value="{{ password.username }}"><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required value="{{ decrypted_password }}">
        <button type="button" onclick="togglePasswordVisibility()">Show/Hide Password</button>
        <button type="button" onclick="fetchSecurePassword()" class="generate-button">Generate New Password</button><br>

        <button type="submit">Save Changes</button>
    </form>
</body>
</html>


