<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Password</title>
</head>
<body>
    <h1>Edit Password</h1>
    <form action="" method="post">
        <label for="site_name">Site Name:</label>
        <input type="text" id="site_name" name="site_name" value="{{ password.site_name }}" required><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ password.username }}" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="{{ password.password }}" required><br>

        <button type="submit">Update Password</button>
    </form>
</body>
</html>
